In [ ]:
### ipfn
Trying Iterative Proportional Filter
from ipfn import ipfn
m = [[40, 30, 20, 10], [35, 50, 100, 75], [30, 80, 70, 120], [20, 30, 40, 50], [40, 30, 40, 50]]
m = np.array(m)
xip = np.array([150, 300, 400, 140, 10])
xpj = np.array([300, 200, 400, 90, 10])
# xpj = np.array([100, 400, 400, 100])

aggregates = [xip, xpj]
dimensions = [[0], [1]]

IPF = ipfn.ipfn(m, aggregates, dimensions, convergence_rate=1e-6)
m = IPF.iteration()
print(m)

df_ = (df_real[["flag_garage", "log_mq", "flag_air_conditioning"]].sample(2000, random_state = 11)
       .assign(flag_garage = lambda x: x["flag_garage"].astype(bool),
               flag_air_conditioning = lambda x: x["flag_air_conditioning"].astype(bool),
               log_mq_cut = lambda x: pd.cut(x["log_mq"], x["log_mq"].quantile(np.arange(0,1.1,.1))),
               total = 1)
        .dropna()
        .assign(log_mq_cat = lambda x: [u.right for u in x["log_mq_cut"]])
        .drop(columns = ["log_mq"]))

df_ = (df_real[["flag_garage", "log_mq", "flag_air_conditioning"]].sample(2000, random_state = 11)
       .assign(flag_garage = lambda x: x["flag_garage"].astype(bool),
               flag_air_conditioning = lambda x: x["flag_air_conditioning"].astype(bool),
               log_mq_cut = lambda x: pd.cut(x["log_mq"], x["log_mq"].quantile(np.arange(0,1.1,.1))),
               total = 1)
        .dropna()
        .assign(log_mq_cat = lambda x: [u.left for u in x["log_mq_cut"]])
        .drop(columns = ["log_mq", "log_mq_cut"]))

garage_freq = df_["flag_garage"].value_counts(normalize = True)
log_mq_cat_freq = df_["log_mq_cat"].value_counts(normalize = True)
ac_freq = df_["flag_air_conditioning"].value_counts(normalize = True)

aggregates = [garage_freq,log_mq_cat_freq,ac_freq]
dimensions = [["flag_garage"],["log_mq_cat"], ["flag_air_conditioning"]]

IPF = ipfn.ipfn(df_, aggregates = aggregates, dimensions = dimensions, convergence_rate=1e-5)
df_ipf = IPF.iteration()
df_
df_ipf
((df_.reset_index()[["flag_garage", "log_mq", "flag_air_conditioning"]] + 0.) - (df_ipf.reset_index()[["flag_garage", "log_mq", "flag_air_conditioning"]] + 0.))
df_ipf
df_ipf.sum()
m1 = [[0, 30, 20, 10], [0, 30, 100, 10], [0, 80, 100, 120], [20, 30, 20, 50]]
m1 = np.array(m1)
xip = np.array([10, 40, 20, 150])
xpj = np.array([20, 60, 400, 300])

aggregates = [xip, xpj]
dimensions = [[0], [1]]

IPF = ipfn.ipfn(m1, aggregates, dimensions, convergence_rate=1e-6)
m2 = IPF.iteration()
print(m2)
m
### Gensynthpop
from gensynthpop.conditional_attribute_adder import ConditionalAttributeAdder
df_real["CAP"]
agent_ids = list()
agent_neighborhoods = list()
agent_count = 0
for neighb_code, (neighb_total) in read_marginal_data(['population'], 'population').iterrows():
    agent_ids += [f"SA{i + agent_count:06d}" for i in range(neighb_total.iloc[0])]
    agent_neighborhoods += [neighb_code] * neighb_total.iloc[0]
    agent_count += neighb_total.iloc[0]
df_synthetic_population = pd.DataFrame(data=dict(agent_id=agent_ids, neighb_code=agent_neighborhoods))

In [1]:
import sys
sys.path += ["../src"]
import utils
from glob import glob
import matplotlib.pyplot as plt 
import seaborn as sns
from matplotlib.pyplot import subplots as sbp 
from importlib import reload
import jl_vae
import jl_nflows_geo_coordinates_2 as nfg
from jl_nflows_geo_coordinates import load_nf as load_dict

from _51_abm_functions import cod_prov_abbrv_df

# Global Spatial Autocorrelation
from spatial_autocorrelation import get_moransI, moransI_scatterplot, hypothesis_testing
# Local Spatial Autocorrelation
from spatial_autocorrelation import get_localMoransI, LISA_scatterplot
import pandas as pd
import numpy as np
from tqdm import tqdm
import pickle
from sklearn.preprocessing import OneHotEncoder
from jl_synthetic_pop_all_provinces import add_cat_features
from ipfn import ipfn
import config

In [170]:
cod_prov_abbrv_df.sort_values("prov_abbrv")

     prov_abbrv COD_PROV
7343         AG      084
845          AL      006
4792         AN      042
1180         AO      007
4894         AP      044
...         ...      ...
3403         VE      027
3136         VI      024
3038         VR      023
4967         VT      056
7078         VV      102

[107 rows x 2 columns]

In [2]:

# # 40 seconds
# abm_path = "ISP_data_for_ABM/ISP_ABM_up_to_2024_08_0001.csv"
# data = pd.read_csv(jl_vae.path_intermediate + abm_path, index_col = 0)
geo_dict = jl_vae.load_geo_data()

# # these need to be added to the generated data for predicting with hedonic regression
# year_erogaz = [f'year_erogaz_{u}' for u in [u for u in range(2016, 2025)]] 
# # Trained Hedonic Regression
# train_path = '/data/housing/data/intermediate/HedonicRegressionABM/reg_risk_OMI_id.pkl'
# # Load ISP data for the ABM and clean it 
# data_path = '/data/housing/data/intermediate/ISP_data_for_ABM/ISP_ABM_up_to_2024_08.csv'
# isp = pd.read_csv(data_path,dtype=str,encoding='latin1',na_values=config.default_missing)

# drop_col = ['floor_numeric','NUM_MQ_SUPERF_COMM','COD_CAT_CATASTALE','year_erogaz']
# isp = isp.drop(columns=drop_col)
# isp = utils.CorrectTypes_ABM(isp)

In [164]:
data_path = '/data/housing/data/intermediate/ISP_data_for_ABM/ISP_ABM_up_to_2024_08.csv'
isp = pd.read_csv(data_path,dtype=str,encoding='latin1',na_values=config.default_missing)

# drop_col = ['floor_numeric','NUM_MQ_SUPERF_COMM','COD_CAT_CATASTALE','year_erogaz']
# isp = isp.drop(columns=drop_col)
# isp = utils.CorrectTypes_ABM(isp)

In [ ]:
# choose the province
prov = "TO"
# get the cod prov (number)
cod_prov = cod_prov_abbrv_df.query("prov_abbrv == @prov")["COD_PROV"].item()
real_pops = jl_vae.path_pop_synth + f"pop_samples/pop_real_with_hedonic_price"
df_real_ = pd.read_csv(real_pops + f"/pop_real_full_250110{prov}.csv", index_col = 0)
df_real_ = add_cat_features(df_real_)
df_real = df_real_.assign(log_price = lambda x: x["price_corrected"], CAP = lambda x: x["CAP"].astype(str))

In [97]:
np.random.seed(2)
ran_xy = np.random.uniform(low = df_real["x"].min(), high = df_real["x"].max(), size = 1000000), np.random.uniform(low = df_real["y"].min(), high = df_real["y"].max(), size = 1000000)

In [98]:
df_locations = utils.spatial_matching_ABM(pd.DataFrame({"x": ran_xy[0], "y": ran_xy[1]}), geo_dict["hydro_risk"], geo_dict["census"], 
                                          geo_dict["omi_og"], geo_dict["cap"]).query("prov_abbrv == @prov")

In [114]:
df_real = df_real_.assign(log_price = lambda x: x["price_corrected"], CAP = lambda x: x["CAP"].astype(str))
df_real = df_real[['flag_garage', 'flag_pertinenza', 'flag_air_conditioning',
       # 'flag_multi_floor', 
       'log_mq', 'log_price',
       # 'flag_air_conditioning_Missing', 
       # 'x', 'y', 
       'CAP',
       'energy_class', 
       'COD_CAT',
       'anno_costruzione']]

In [149]:
def transform_bins(df, vars):
    df1 = df.copy()
    for var in vars:
        df1[var + "_bin"] =  pd.qcut(df1[var], q = 5, labels = False)
        df1.drop(columns = [var], inplace = True)
    return df1

def transform_bins_to_real(sample_df, df_real, var):
    bins_values = pd.qcut(df_real[var], q = 5, labels = False, retbins = True)[1]
    sample_df[var] = [np.random.uniform(low = bins_values[u], high = bins_values[u + 1]) for u in sample_df[var + "_bin"]]
    sample_df.drop(columns = [var + "_bin"], inplace = True)
    return sample_df

In [116]:
# df = transform_bins(df_real, ["x", "y", "log_mq", "log_price"])
df = transform_bins(df_real, ["log_mq", "log_price"])#.drop(columns = ["CAP"])

In [178]:
df_cap

,flag_garage,flag_pertinenza,flag_air_conditioning,CAP,energy_class,COD_CAT,anno_costruzione,log_mq_bin,log_price_bin
0,1.0,0.0,0.0,10023,NaN,A02,1985_2005,1,2.0
6,0.0,0.0,0.0,10023,NaN,A_01_07_08,1500_1965,4,3.0
16,1.0,0.0,0.0,10023,NaN,A_01_07_08,1985_2005,4,4.0
19,1.0,0.0,0.0,10023,NaN,A02,1985_2005,0,1.0
61,1.0,0.0,0.0,10023,NaN,A02,1965_1985,3,2.0
...,...,...,...,...,...,...,...,...,...
29784,0.0,1.0,1.0,10023,NaN,A03,1500_1965,0,0.0
29817,1.0,0.0,0.0,10023,NaN,A02,2005_2025,0,2.0
29909,1.0,0.0,0.0,10023,NaN,A02,1500_1965,0,1.0
29930,1.0,0.0,1.0,10023,NaN,A02,1965_1985,2,2.0
29946,1.0,0.0,0.0,10023,Medium_energy_class,A_01_07_08,1965_1985,4,4.0

In [124]:
for cap in df_real["CAP"].unique():
    df_cap = df.query("CAP == @cap")
    N_cap = len(df_cap)
    df_counts = df_cap.value_counts().reset_index()
    cap_locs = df_locations.query("CAP == @cap").sample(n = N_cap)
    sample_df = df_counts.sample(n = N_cap, weights = df_counts["count"], replace = True).drop(columns = ["count"])
    break

In [125]:
sample_df[["x", "y"]] = cap_locs[["GEO_LONGITUDINE_BENE_ROUNDED", "GEO_LATITUDINE_BENE_ROUNDED"]]

In [134]:
bins_values = pd.qcut(df_real["log_mq"], q = 5, labels = False, retbins = True)[1]

In [ ]:
for var in ["log_mq", "log_price"]:
    sample_df[var] = [np.random.uniform(low = bins_values[u], high = bins_values[u + 1]) for u in sample_df[var + "_bin"]]

[4.6640889997784925,
 4.312184114965763,
 4.420877027684081,
 6.089095687072165,
 4.804228580087222,
 3.394590170476961,
 4.6773056207443675,
 3.6579979743866953,
 4.457826658213793,
 4.431980150803148,
 4.30614131232162,
 4.379380678154088,
 5.325545887903551,
 4.765459842244139,
 4.901121784755449,
 3.833020542237883,
 4.393149063460593,
 4.580296003674842,
 4.40574154038355,
 4.340142114487733,
 5.394463897731341,
 5.4373657597956,
 6.439575402118962,
 6.507299761413281,
 4.469436302110628,
 4.416834548372668,
 4.50766699984731,
 4.907053169667219,
 4.635431615036934,
 4.297391083076913,
 4.458403502001746,
 4.904220806056812,
 4.4271522264145595,
 4.350534722694575,
 4.23507748551069,
 4.276578433945611,
 4.392855194799426,
 4.344788886191344,
 5.1129546580277,
 4.740391737493933,
 4.5190325214968645,
 4.750982796585938,
 4.605529090594717,
 5.959703712554902,
 4.854595231426414,
 5.08150130414309,
 4.827630118632996,
 5.003968686660824,
 4.636905265807475,
 4.40068970153774,
 6.013459429264508,
 4.989756810231273,
 5.343080451336549,
 5.010548754360817,
 4.57007499122715,
 6.396751040706138,
 4.971658327676945,
 4.525751154229069,
 4.917299124616788,
 4.354416815499124,
 4.55418747116802,
 4.382082458123287,
 4.185752265290766,
 4.596191742854822,
 4.841002384639283,
 4.439320052164733,
 4.37533026385509,
 5.923778316436225,
 4.537867799284051,
 4.311820398304175,
 6.134723072458114,
 4.421339824478789,
 6.1631141818890205,
 4.892210208977951,
 5.359837832497787,
 4.426380397254033,
 4.600143680005471,
 4.472467403689342,
 4.364554197986541,
 4.570330895892541,
 5.091109009882185,
 4.139367321714999,
 4.661162998688254,
 5.769576467391286,
 4.9920582687968995,
 4.782493857576785,
 5.892928848413265,
 4.521508550154912,
 3.9285325529676896,
 4.32042556630303,
 5.650444232429063,
 5.012473323636219,
 4.387562597387738,
 4.639486685946054,
 4.331556434794205,
 4.4130575955393,
 4.7647859854573165,
 4.8770383923224685,
 3.6065684855039226,
 6.50688713450767,
 3.6754209161169302,
 4.719096979153642,
 3.534234122654042,
 4.490778739016855,
 4.807414240356247,
 4.371325348459744,
 6.265353037681325,
 3.965211863217813,
 5.552765450910289,
 4.33471076184957,
 4.317438517525685,
 4.701607075730619,
 5.329251569979559,
 4.647224088822312,
 5.996143522466488,
 4.736716601523695,
 4.934234321170158,
 3.448924572523659,
 4.945469174933699,
 5.015512393939038,
 4.327058990851985,
 4.9975742487834856,
 4.852053562270875,
 4.662508835488301,
 4.57494985670471,
 5.302813627085726,
 5.488216311097064,
 3.736896119422768,
 6.214954131496164,
 4.886947337873934,
 4.659264867419379,
 4.804130336553508,
 3.813509107522139,
 4.387555465690921,
 4.61333816826328,
 5.076645871952342,
 4.7490301287165275,
 5.730325931684561,
 4.413930692978839,
 4.606837736037279,
 6.172896364911322,
 3.4354731498700697,
 3.9577458926332936,
 3.859306205383862,
 4.380958992116057,
 4.6061093325103695,
 4.2838310984589345,
 4.747586984321587,
 4.554462758384053,
 4.510809293505888,
 4.490407405079596,
 5.010959667252574,
 4.8157395081565095,
 4.737781527540339,
 6.0239412005276085,
 4.711597818108355,
 4.377111663109632,
 4.686046521173403,
 3.355442334578549,
 4.784099531296651,
 3.6524463600922106,
 4.307085006314758,
 4.919509960108261,
 5.01747261100771,
 4.585236536072192,
 4.771642067866635,
 4.870478975789553,
 4.336582101720656,
 6.455867078772348,
 4.224147861292874,
 4.72316298241341,
 5.622689499435105,
 6.448708266690862,
 6.181118591552702,
 4.624603203007055,
 4.4138041159267285,
 4.94641228583112,
 6.088423031192178,
 4.348866022442337,
 6.065178014460804,
 3.7970278143338816,
 4.567135058758543,
 4.836201915633023,
 4.770495876841002,
 4.3301214095671785,
 4.601186169894551,
 4.769505286351718,
 4.081349399801602,
 4.590245190882588,
 5.1638583061457375,
 6.3400417266632845,
 4.359502604427468,
 4.68648883705523,
 3.4955840652542443,
 6.374321446696932,
 4.358103416332297,
 6.457096811607338,
 5.548664398258786,
 6.093138350102798,
 4.420839459882193,
 4.171759738566384,
 4.359679864919551,
 5.119854857942149,
 4.918162322628781,
 4.459070279659311,
 4.6525061398981435,
 5.015500539344872,
 4.663586313207625,
 4.356904299218154,
 4.251884926217992,
 4.535187546764441,
 4.4981417414808735,
 5.810563337928235,
 4.945675476530064,
 4.545474757748236,
 6.091065349314608,
 4.64853933004055,
 4.770517521971088,
 5.901567788984486,
 3.9575504833379345,
 4.522208582415265,
 3.6786569664827726,
 4.633662640798236,
 4.600257389864211,
 3.487891557908085,
 4.95185049525573,
 4.380168976713923,
 6.0269759657414745,
 3.408783864736842,
 5.252309782908957,
 6.387931307258602,
 4.740353899051579,
 4.55938123204774,
 4.797186749791241,
 4.381150094509282,
 5.006302698330331,
 4.457035320924794,
 4.3111558092034326,
 4.553605954114148,
 4.848676037542168,
 3.5337169319300434,
 4.651238210991768,
 3.6499244636033645,
 5.258368716205863,
 4.5041911195068005,
 4.912170193008256,
 3.6083794582594235,
 4.773246275400766,
 4.630243951324225,
 4.308637822718725,
 4.86768018109558,
 4.344241820302925,
 4.993088456377593,
 4.507255986373345,
 4.603389897778904,
 4.456879069696936,
 5.413923683879434,
 4.30657303960981,
 4.243043056666994,
 6.351090004341915,
 4.75130550856402,
 4.7745391495774925,
 4.752014324622932,
 4.563105437945111,
 4.515725129121278,
 4.543288312548038,
 4.918022380312065,
 5.137099157666998,
 5.567027608147782,
 4.492848199051859,
 4.524947294961151,
 3.4392167982955733,
 5.389438285715211,
 4.362345403854326,
 6.483757487895125,
 4.938203229902613,
 4.236849958437543,
 4.912191694888983,
 3.6958057024342277,
 5.927582950202199,
 4.043752194859936,
 4.930417319922764,
 4.761506127267646,
 4.523802077412457,
 4.598228486345554,
 4.969948668195577,
 5.1249584096349645,
 5.96084968257244,
 5.012049386851361,
 4.641793304288241,
 4.974004443897302,
 4.046834978524899,
 5.7868007241746,
 3.9930466230269874,
 4.0353309899677345,
 3.875440863130607,
 4.330444050911177,
 4.824628708881352,
 4.658586052681619,
 4.761839343078547,
 5.218363671885974,
 4.863393877861816,
 3.3990325311033174,
 4.452478461083249,
 5.254937777805472,
 4.6163243457244665,
 3.9717928453773648,
 4.850317201257815,
 5.785345022704284,
 5.620632864235914,
 3.519931574606028,
 4.6729313110496165,
 4.97441230576813,
 4.361477880265405,
 4.890936692574251,
 3.3888802166762813,
 4.92644151959105,
 4.890281085373878,
 4.596045034762612,
 3.4526919563079193,
 6.289392003358634,
 6.22904127344765,
 4.777019780500538,
 3.5244014919195816,
 3.8392963754040093,
 4.3991927362825285,
 4.328075061505851,
 4.491154347703393,
 5.208250403919852,
 3.916503880313137,
 4.3783032747996815,
 6.532962677637298,
 5.096406833748117,
 3.9773793035822482,
 4.5558685662086145,
 4.856654242222491,
 4.4626779998042,
 4.373444042523848,
 6.053455392518558,
 4.9822870254847675,
 5.010566810235471,
 4.6798558002993484,
 4.650699980252284,
 4.668134354712495,
 4.496993292916708,
 3.4146670998849524,
 3.9655441669992295,
 4.416907735012888,
 3.856552118275043,
 5.55881828301343,
 4.505567578259422,
 4.845929428413266,
 4.590730044349405,
 5.4907782564165215,
 5.131327288013748,
 4.910223549252902,
 4.609877762218643,
 5.824290422756844,
 4.611343503149848,
 4.585105523756262,
 3.7087706735026202,
 4.439052185998011,
 4.162487690840353,
 4.722766000463994,
 6.043997416084083,
 6.45786967981855,
 5.632612355229883,
 5.946192302995453,
 4.388713062642323,
 6.183609272899408,
 4.6377941440573816,
 4.959029743555057,
 3.4502193531755223,
 4.599489728225142,
 4.621253442345637,
 4.896154265048885,
 4.1502082074896745,
 4.816302998395136,
 4.833064357446183,
 3.5303551086633624,
 4.160373731061093,
 3.479828212801631,
 4.376510436940607,
 3.8298612077601484,
 3.469634156305086,
 4.316949282883499,
 5.217780581486752,
 3.812988210563571,
 4.690558020613712,
 4.614122427743171,
 5.008070268252925,
 4.874124488442087,
 6.401638690511814,
 5.142469425304046,
 3.8762501445835533,
 6.172677547038378,
 4.081586982027073,
 3.560905535513136,
 5.43240389917602,
 4.710543104787138,
 4.729943742769352,
 6.3767467720624955,
 4.821666207281004,
 4.651965315478583,
 4.779526871416294,
 6.072205402928073,
 4.519900359718428,
 3.4329048573358936,
 3.4892367004304066,
 4.809318346704695,
 4.457835443235962,
 6.475615741430353,
 6.518899585379439,
 3.759002841159543,
 4.476577828093357,
 4.349897495525132,
 5.7077966037704915,
 6.120476536781688,
 3.538466134973224,
 4.865035231969795,
 5.93121038999776,
 4.356225236360923,
 4.480821865801347,
 3.7951813439031645,
 4.668468771422283,
 4.2161256604724695,
 4.15489130796258,
 4.933988235836404,
 4.4895068358564645,
 4.59659207136933,
 4.670317811226327,
 4.922340371311151,
 4.593036270170653,
 4.919959925629319,
 4.636342105383028,
 4.490395034150793,
 4.336829194060463,
 5.413058315853183,
 3.630007485448986,
 3.7323364800344336,
 5.868444434461,
 4.488262639688105,
 5.12623182149786,
 4.334962829774356,
 3.874992324830773,
 4.492740336361271,
 4.7715017381147025,
 4.852034986694941,
 6.117246077317382,
 4.669108221709305,
 4.390629982726485,
 4.427906287944589,
 4.319178826136964,
 5.353740975765096,
 5.403376644147699,
 4.407646281227153,
 4.986039268730086,
 4.738085721662141,
 4.714222162259716,
 4.711248781683479,
 3.383145045097726,
 5.039448973492564,
 5.513946711938625,
 4.818312388399917,
 4.666822034901911,
 4.341482366363268,
 4.5144297377699,
 5.751944533646366,
 6.352525631791247,
 4.596002537113937,
 5.9921012478937214,
 6.4507563553756055,
 6.201910205815125,
 5.356604823554069,
 4.4112615964605695,
 5.10381472814495,
 4.398852457094602,
 4.9729132044680515,
 5.021074966021241,
 4.193974442174676,
 4.549684396712117,
 4.569249172576489,
 4.3723634214287985,
 4.461883630279622,
 4.383516207365279,
 5.214239333137462,
 4.3772718363770915,
 3.345285497472894,
 4.434413639168291,
 4.408973332454319,
 5.761148096008161,
 5.113890438880284,
 3.9509021952281187,
 5.566376855623283,
 4.761015253978823,
 4.471971973276186,
 4.448422346813894,
 5.0225308663526285,
 3.358483050684343,
 4.469564024026068,
 3.85700900855253,
 4.7008681100917356,
 4.685382287703736,
 4.637885766215401,
 5.673807155239615,
 4.62154157643277,
 4.5403524705312135,
 6.256897829224666,
 4.305289143951709,
 4.358382355927784,
 5.930681793166214,
 4.346112204980961,
 4.081968009676404,
 3.673628190870097,
 6.015104239073703,
 4.421995210006451,
 4.073840317439798,
 4.34937736990299,
 4.62041350763267,
 4.735145790647166,
 4.660330067676128,
 3.4570097491055627,
 4.642651894937973,
 4.875114357713826,
 4.9113167394257875,
 5.545389599932872,
 5.4723256653802785,
 6.236443105692702,
 6.344813051231274,
 5.19977810306307,
 4.388584997943697,
 4.876994237447146,
 4.341803471916382,
 4.3050664802495024,
 4.423432145911974,
 4.519606464384447,
 4.136906695280243,
 4.339134437736735,
 4.467624304738221,
 5.404430539922742,
 5.997710492493776,
 3.4651723514110335,
 5.1831068577845185,
 4.879540015764665,
 3.631935364364454,
 4.622451925729854,
 4.55514836292204,
 4.569386696786835,
 4.924242909773335,
 4.4278032027307015,
 4.531805660786968,
 4.417557058726881,
 4.85471444607801,
 4.901154663225697,
 5.407708000838746,
 5.0108378025059785,
 4.645950305706691,
 5.571556120348817,
 4.287120245040878,
 4.371257737718009,
 4.872256108661407,
 3.4897360417352017,
 6.038290297753347,
 6.2716095095914595,
 3.9955872984294185,
 3.9948208665586487,
 4.492516990617478,
 4.645031205176423,
 4.973948354080881,
 6.013546407791223,
 5.967947550237015]

In [ ]:
for _,(cap,count) in CAPS_prov.reset_index().iterrows():
    break

In [102]:
df.columns

Index(['flag_garage', 'flag_pertinenza', 'flag_air_conditioning', 'CAP',
       'anno_costruzione', 'log_mq_bin', 'log_price_bin'],
      dtype='object')

In [103]:
def get_ipf_input(df):
    seed = df.groupby(list(df.columns)).size().reset_index(name="count")
    remove_vals = []
    aggregates = []
    dimensions = []
    for var in df.columns:
        agg = df.groupby(var).size()
        aggregates.append(agg)
        dimensions.append([var])
        remove_vals.append([var, list(agg[agg == 1].index)])
    return seed, aggregates, dimensions, remove_vals

In [104]:
def clean_df(df):
    remove_obs = []
    repeat = True
    rep = 0
    df_out = df.copy()
    while repeat:
        rep += 1
        new_removals = []
        for col in df.columns:
            val_counts = df_out[col].value_counts()
            remove_class = list(val_counts[val_counts == 1].index)
            new_removals += list(df_out[df_out[col].isin(remove_class)].index)
        remove_obs += new_removals
        df_out = df_out[~df_out.index.isin(remove_obs)]
        print(len(remove_obs), len(df_out))
        if new_removals == []:
            repeat = False

        if rep > 20:
            repeat = False
    return df_out, remove_obs

In [105]:
CAPS_prov = df_real["CAP"].value_counts()

In [106]:
for _,(cap,count) in CAPS_prov.reset_index().iterrows():
    break

In [112]:
if count > 1:
    # df = transform_bins(df_real.query("CAP == @cap").dropna().drop(columns = ["CAP"]), ["log_mq", "log_price"])
    df = transform_bins(df_real.dropna().drop(columns = ["CAP"]), ["log_mq", "log_price"])
    # cleaned_df, remove_obs = clean_df(df)
    cleaned_df = df.copy()
    seed, aggregates, dimensions, remove_vals = get_ipf_input(cleaned_df)
    model = ipfn.ipfn(original = seed, aggregates = aggregates,
             dimensions = dimensions, weight_col = "count",
             convergence_rate = 1e-5, max_iteration=500)
    result = model.iteration()

In [113]:
result.sort_values("count", ascending = False)

,log_price_bin,flag_garage,flag_pertinenza,flag_air_conditioning,anno_costruzione,log_mq_bin,count
0,0,0.0,0.0,0.0,1500_1965,0,1110
25,0,0.0,0.0,0.0,1965_1985,0,783
411,4,1.0,0.0,0.0,1965_1985,4,671
1,1,0.0,0.0,0.0,1500_1965,0,517
436,4,1.0,0.0,0.0,1985_2005,4,495
...,...,...,...,...,...,...,...
200,4,0.0,0.0,1.0,Missing,3,1
536,3,1.0,0.0,1.0,2005_2025,0,1
199,3,0.0,0.0,1.0,Missing,0,1
108,0,0.0,0.0,0.0,Missing,2,1
718,1,1.0,1.0,1.0,Missing,4,1

In [95]:
cleaned_df.value_counts().reset_index()

,flag_garage,flag_pertinenza,flag_air_conditioning,anno_costruzione,log_mq_bin,log_price_bin,count
0,1.0,0.0,0.0,2005_2025,4,4,56
1,0.0,0.0,0.0,1965_1985,0,0,51
2,0.0,0.0,0.0,1500_1965,0,0,44
3,1.0,0.0,0.0,1965_1985,4,4,33
4,1.0,0.0,0.0,2005_2025,0,0,33
...,...,...,...,...,...,...,...
228,0.0,1.0,0.0,1985_2005,2,2,1
229,0.0,1.0,0.0,1965_1985,4,4,1
230,0.0,1.0,0.0,1965_1985,3,0,1
231,0.0,1.0,0.0,1965_1985,1,0,1
232,1.0,1.0,1.0,2005_2025,3,3,1

In [65]:
seed, aggregates, dimensions, remove_vals = get_ipf_input(clean_df)

In [ ]:

# weights = result.df

In [ ]:
result["count"]

179

In [ ]:
df = transform_bins(df_real.dropna(), ["log_mq", "log_price"])
seed, aggregates, dimensions, remove_vals = get_ipf_input(df)

[['flag_garage', []],
 ['flag_pertinenza', []],
 ['flag_air_conditioning', []],
 ['CAP', []],
 ['energy_class', []],
 ['COD_CAT', []],
 ['anno_costruzione', []],
 ['log_mq_bin', []],
 ['log_price_bin', []]]

In [170]:
df = transform_bins(df_real, ["log_mq", "log_price"])#.drop(columns = ["CAP"])
# aggregates = [df[var].value_counts().sort_index() for var in df.columns]
# dimensions = list(df.columns)
seed = df.groupby(list(df.columns)).size().reset_index(name="count")
remove_vals = []
aggregates_ = []
dimensions = []
for var in df.columns:
    agg = df.groupby(var).size()
    aggregates_.append(agg)
    dimensions.append([var])
    remove_vals.append([var, list(agg[agg == 1].index)])
# aggregates = [df[col].value_counts().sort_index().values for col in df.columns]
# dimensions = [[col] for col in df.columns]

In [178]:
remove_obs = []
for var, idx in remove_vals:
    if len(idx) > 0:
        remove_obs += list(df[df[var].isin(idx)].index)

In [ ]:
39022

In [206]:
seed.query("CAP == '39022'")

,flag_garage,flag_pertinenza,flag_air_conditioning,CAP,energy_class,COD_CAT,anno_costruzione,log_mq_bin,log_price_bin,count
115,1.0,0.0,0.0,39022,Missing_energy_class,A02,1965_1985,0,0.0,1

In [179]:
remove_obs

[228, 363, 859]

In [162]:
agg = aggregates[3]

In [215]:
df = seed.copy()
steps = len(aggregates)
weight_col = "count"
if True:
        tables = [df]
        for inc in range(steps - 1):
            tables.append(df.copy())
        original = df.copy()

        # Calculate the new weights for each dimension
        inc = 0
        for features in dimensions:
            if inc == (steps - 1):
                table_update = df
                table_current = tables[inc].copy()
            else:
                table_update = tables[inc + 1]
                table_current = tables[inc]

            tmp = table_current.groupby(features)[weight_col].sum()
            xijk = aggregates[inc]

            feat_l = []
            for feature in features:
                feat_l.append(np.unique(table_current[feature]))
            table_update.set_index(features, inplace=True)
            table_current.set_index(features, inplace=True)

            multi_index_flag = isinstance(table_update.index, pd.MultiIndex)
            if multi_index_flag:
                if not table_update.index.is_monotonic_increasing:
                    table_update.sort_index(inplace=True)
                if not table_current.index.is_monotonic_increasing:
                    table_current.sort_index(inplace=True)
            
            for feature in product(*feat_l):
                print(feature)
                break

            for feature in product(*feat_l):
                
                den = tmp.loc[feature]
                # calculate new weight for this iteration

                if not multi_index_flag:
                    msk = table_update.index == feature[0]
                else:
                    msk = feature

                if den == 0:
                    table_update.loc[msk, weight_col] =\
                        table_current.loc[feature, weight_col] *\
                        xijk.loc[feature]
                else:
                    table_update.loc[msk, weight_col] = \
                        table_current.loc[feature, weight_col].astype(float) * \
                        xijk.loc[feature] / den
                    
            table_update.reset_index(inplace=True)
            table_current.reset_index(inplace=True)
            inc += 1
            feat_l = []

        # Calculate the max convergence rate
        max_conv = 0
        inc = 0
        for features in dimensions:
            tmp = table_update.groupby(features)[weight_col].sum()
            ori_ijk = aggregates[inc]
            temp_conv = max(abs(tmp / ori_ijk - 1))
            if temp_conv > max_conv:
                max_conv = temp_conv
            inc += 1

(0.0,)
(0.0,)
(0.0,)
('39010',)

AttributeError: 'numpy.float64' object has no attribute 'loc'

In [26]:
table_current.loc[feature]

flag_air_conditioning                     0.0
flag_garage                               1.0
flag_pertinenza                           1.0
energy_class             Missing_energy_class
COD_CAT                                   A02
anno_costruzione                    2005_2025
log_mq_bin                                  3
log_price_bin                             2.0
count                                 3.62419
Name: 39017, dtype: object

In [76]:
model = ipfn.ipfn(original = seed, aggregates = aggregates,
             dimensions=dimensions, weight_col = "count",
             convergence_rate=1e-5, max_iteration=500)
result = model.iteration()
# weights = result.df

AttributeError: 'numpy.float64' object has no attribute 'loc'

In [95]:
df.value_counts().reset_index().assign(count = lambda x: x["count"] / x["count"].sum() * 1568.0)

,flag_garage,flag_pertinenza,flag_air_conditioning,energy_class,COD_CAT,anno_costruzione,x_bin,y_bin,log_mq_bin,log_price_bin,count
0,0.0,0.0,0.0,Missing_energy_class,A02,1500_1965,1,1,0,0.0,27.787342
1,1.0,0.0,0.0,Missing_energy_class,A02,1985_2005,4,4,4,4.0,19.848101
2,1.0,0.0,0.0,Missing_energy_class,A02,2005_2025,4,4,4,4.0,15.878481
3,0.0,0.0,0.0,Missing_energy_class,A02,1985_2005,4,4,0,0.0,11.908861
4,1.0,0.0,0.0,Missing_energy_class,A02,2005_2025,1,2,2,2.0,11.908861
...,...,...,...,...,...,...,...,...,...,...,...
327,0.0,1.0,0.0,Missing_energy_class,A02,1965_1985,0,1,0,0.0,3.969620
328,0.0,1.0,0.0,Missing_energy_class,A02,1500_1965,3,1,3,3.0,3.969620
329,0.0,1.0,0.0,Missing_energy_class,A02,1500_1965,3,1,3,2.0,3.969620
330,0.0,1.0,0.0,Missing_energy_class,A02,1500_1965,2,0,3,1.0,3.969620
331,1.0,1.0,1.0,Missing_energy_class,A02,2005_2025,0,3,1,1.0,3.969620

In [99]:
result.sample(n = 10, weights = result["count"])

,log_price_bin,flag_garage,flag_pertinenza,flag_air_conditioning,energy_class,COD_CAT,anno_costruzione,x_bin,y_bin,log_mq_bin,count
268,0.0,1.0,0.0,0.0,Missing_energy_class,A02,2005_2025,4,3,0,3.753142
246,4.0,1.0,0.0,0.0,Missing_energy_class,A02,2005_2025,1,2,3,6.099109
16,4.0,0.0,0.0,0.0,Missing_energy_class,A02,1500_1965,2,2,3,3.396339
81,0.0,0.0,0.0,0.0,Missing_energy_class,A02,1985_2005,4,4,0,11.830792
258,2.0,1.0,0.0,0.0,Missing_energy_class,A02,2005_2025,3,2,0,4.199900
58,1.0,0.0,0.0,0.0,Missing_energy_class,A02,1965_1985,3,1,3,4.762042
28,3.0,0.0,0.0,0.0,Missing_energy_class,A02,1965_1985,0,0,4,4.913030
312,2.0,1.0,1.0,0.0,Missing_energy_class,A02,2005_2025,0,3,2,4.196578
208,2.0,1.0,0.0,0.0,Missing_energy_class,A02,1985_2005,2,0,3,3.700037
48,4.0,0.0,0.0,0.0,Missing_energy_class,A02,1965_1985,2,1,4,4.444800

In [ ]:

# 1. Load your df as given

# 2. Create bins & marginals
df['x_bin'] = pd.qcut(df['x'], q = 10, labels=False)
df['y_bin'] = pd.qcut(df['y'], q = 10, labels=False)

agg_x = df['x_bin'].value_counts().sort_index()
agg_y = df['y_bin'].value_counts().sort_index()
agg_bool1 = df['bool_1'].value_counts().sort_index()
# [... repeat for other variables ...]

aggregates = [agg_x.values, agg_y.values, agg_bool1.values, ...]
dimensions = [['x_bin'], ['y_bin'], ['bool_1'], ...]

# 3. Run IPF
orig = df[['x_bin','y_bin','bool_1', ...]]  # only constraint columns
ipf = ipfn(orig, aggregates, dimensions)
res = ipf.iteration(max_iteration=500, convergence_rate=1e-5)
weights = res.df

# 4. Weighted sampling
weights['prob'] = weights['weight'] / weights['weight'].sum()
synthetic_df = df.sample(
    n=len(df),
    replace=True,
    weights=weights['prob']
).reset_index(drop=True)

NameError: name 'df' is not defined