In [3]:
import requests
import pandas as pd
import numpy as np
import geopandas as gpd
import os
import matplotlib.pyplot as plt
import seaborn as sns

import pickle

airbnb_path = "/data/housing/data/intermediate/jl_pop_synth/airbnb/"

city = "brisbane"
with open(f'/data/housing/data/intermediate/jl_pop_synth/airbnb_baselines/all_baselines_{city}.pickle', 'rb') as f:
    baselines_pop = pickle.load(f)

In [6]:
baselines_pop['df_real'].columns

Index(['accommodates', 'bathrooms', 'bedrooms', 'beds', 'Air conditioning',
       'Elevator', 'Self check-in', 'Pets allowed', 'Private living room',
       'Backyard', 'Pool', 'roomtype_Entire home/apt', 'roomtype_Hotel room',
       'roomtype_Private room', 'roomtype_Shared room', 'review_scores_rating',
       'reviews_per_month', 'log_price', 'x', 'y'],
      dtype='object')

In [7]:
baselines_pop['df_real'].describe()

,accommodates,bathrooms,bedrooms,beds,Air conditioning,Elevator,Self check-in,Pets allowed,Private living room,Backyard,Pool,roomtype_Entire home/apt,roomtype_Hotel room,roomtype_Private room,roomtype_Shared room,review_scores_rating,reviews_per_month,log_price,x,y
count,4454.000000,4454.000000,4454.000000,4454.000000,4454.000000,4454.000000,4454.000000,4454.000000,4454.000000,4454.000000,4454.000000,4454.000000,4454.000000,4454.000000,4454.000000,4454.000000,4454.000000,4454.000000,4454.000000,4454.000000
mean,3.700269,1.364616,1.737539,2.114504,0.644814,0.328918,0.694881,0.133139,0.022227,0.124832,0.269870,0.776381,0.001347,0.221599,0.000674,4.731938,2.021489,5.149459,153.036835,-27.476343
std,2.286805,0.684410,1.120034,1.559480,0.478623,0.469873,0.460510,0.339763,0.147438,0.330565,0.443942,0.416717,0.036682,0.415369,0.025947,0.344623,1.780982,0.572710,0.056973,0.063099
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.010000,3.496508,152.744608,-27.656110
25%,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,4.640000,0.730000,4.812184,153.015470,-27.492010
50%,3.000000,1.000000,1.000000,2.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,4.820000,1.560000,5.164786,153.030702,-27.471854
75%,4.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,4.950000,2.867500,5.472271,153.047958,-27.456227
max,16.000000,9.000000,15.000000,24.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,14.420000,8.674197,153.423950,-27.073797